In [ ]:
# What are data structures, and why are they important?
'''
A data structure is a specialized format for organizing, processing, retrieving
and storing data. There are several basic and advanced types of data structures,
all designed to arrange data to suit a specific purpose. Data structures make it
easy for users to access and work with the data they need.
'''

# Explain the difference between mutable and immutable data types with examples?
'''
Data types in Python are categorized into mutable and immutable data types.
Mutable data types are those whose values can be changed, whereas immutable data
 types are ones in which the values can’t be changed.
 Mutable Data Type – A mutable data type is one whose values can be changed.
 Example: List, Dictionaries, and Set
 Immutable Data Type – An immutable data type is one in which the values can’t
 be changed or altered.
 Example: String and Tuples


'''

# What are the main differences between lists and tuples in Python?
'''
Tuples are immutable objects and lists are mutable objects. Once defined, tuples
have a fixed length and lists have a dynamic length. Tuples use less memory and
are faster to access than to lists. Tuple syntax uses round brackets or
parenthesis, and list syntax uses square brackets.
'''

# Describe how dictionaries store data?
'''
A Python dictionary is a data structure that stores the value in key: value
pairs. Values in a dictionary can be of any data type and can be duplicated,
whereas keys can't be repeated and must be immutable. Example: Here, The data
is stored in key:value pairs in dictionaries, which makes it easier to find
values.
'''

# Why might you use a set instead of a list in Python?
'''
Lists are suitable for ordered collections that allow duplicates, while Sets
are suitable for unordered collections of unique elements. By understanding the
differences between them, you can choose the appropriate interface for your
specific use case.One of the main advantages of using sets in Python is that
they are highly optimized for membership tests. For example, sets do membership
tests a lot more efficiently than lists.
'''

# What is a string in Python, and how is it different from a list?
'''
In Python, strings are used for representing textual data. A string is a
sequence of characters enclosed in either single quotes ('') or double quotes
(“”). It must be enclosed in quotation marks for it to be recognized as a
string. For example, the word “liquid” and the phrase “What is liquid? It's a
template language.” are both strings.The lists and strings are different in
following ways : a The lists are mutable sequences while strings are immutable.
b Strings store single type of elements all characters while lists can store
elements belonging to different types.
'''

# How do tuples ensure data integrity in Python?
'''
A tuple is a built-in data structure in Python that allows you to store an
ordered collection of items. Unlike lists, tuples are immutable, meaning once
they are created, their contents cannot be altered. This characteristic makes
tuples particularly useful for storing data that should remain constant
throughout the execution of a program.Tuples can contain elements of different
data types, including integers, floats, strings, and even other tuples. They
are defined by enclosing the elements in parentheses and separating them with
commas.
'''

# What is a hash table, and how does it relate to dictionaries in Python?
'''
A hash table is a type of data structure in which information is stored in an
easy-to-retrieve and efficient manner. In the key-value method, keys are
assigned random indexes where their values are stored in an array. The index is
the information of where exactly in the array the value is stored.Python
dictionaries are a high-level abstraction of hash tables. While you interact
directly with dictionaries in Python, hash tables are often used behind the
scenes to implement dictionaries in many programming languages, including Python.
'''

# Can lists contain different data types in Python?
'''
Although it's not really common, but yes a list can also contain a mix of
Python types including strings, floats, and booleans.
'''

# Explain why strings are immutable in Python?
'''
Python strings are "immutable" which means they cannot be changed after they
are created. Since strings can't be changed, we construct *new* strings as we
go to represent computed values.Immutability ensures one reference does not
change the value for others pointing to the same string. Security: Strings are
used for sensitive data like usernames and passwords. Immutability prevents
attackers from altering the values.
'''

# What advantages do dictionaries offer over lists for certain tasks?
'''
So it is more efficient to use dictionaries for the searching of elements as it
can be carried out in a much faster manner. Lists are used when it is important
to maintain the order of the elements and dealing with data that may get changed
in the future.A list can store any data type.In contrast, keys in the dictionary
can be of any immutable data type, and values can be of any data type. Lists
perform faster for ordered operations like sorting, while dictionaries perform
faster for lookup operations.
'''

# Describe a scenario where using a tuple would be preferable over a list?
'''
Use a list if you need a mutable collection of items where you may need to add,
remove, or change elements. Lists are more flexible and have more built-in
methods, making them ideal for dynamic collections. Use a tuple if you need an
immutable collection where the elements won't change after creation.
'''

# How do sets handle duplicate values in Python?
'''
Here are some of the features of sets in Python: Duplicate items are not
allowed. If items appear multiple times, only one will be recognized in the set.
The items in a set are unordered.Sets in Python are unordered collections of
unique elements. By their nature, duplicates aren't allowed. Therefore,
converting a list into a set removes the duplicates.
'''

# How does the “in” keyword work differently for lists and dictionaries?
'''
The 'in' operation for the dictionary tests on keys. The key of the dictionary is
a unique value as well as the set, and the execution time is about the same as
for sets. On the other hand, dictionary values can be duplicated like a list.
'''

#13 Can you modify the elements of a tuple? Explain why or why not?
'''
One of the key characteristics of tuples is that they are immutable, meaning
that you cannot modify the contents of a tuple after it has been created. This
is in contrast to lists, which are mutable and can be modified. Since tuples are
immutable, you cannot directly change the value of an element in a tuple.
'''

# What is a nested dictionary, and give an example of its use case?
'''
In Python, a nested dictionary is a dictionary inside a dictionary. It's a
collection of dictionaries into one single dictionary.

nested_dict = { 'dictA': {'key_1': 'value_1'},
                'dictB': {'key_2': 'value_2'}}

Here, the nested_dict is a nested dictionary with the dictionary dictA and
dictB. They are two dictionary each having own key and value.
'''

# Describe the time complexity of accessing elements in a dictionary?
'''
The dictionary try to access a value by calling the key value of that data. When
it tries to access the value, it already knows the encryption process and
algorithm of Key encryption, and simply finds it with Bigo of O(1) time. That's
why it only takes O(1) time to access any element in the dictionary.
'''

# In what situations are lists preferred over dictionaries?
'''
List is ordered, mutable, and allows duplicate values. In a dictionary, the
dictionary is unordered and mutable, but the dictionary doesn't allow duplicate
values with the same key in it. Lists are used to store the data, which should
be ordered and sequential. It stores large amounts of data for easy and quick
access.
'''

# Why are dictionaries considered unordered, and how does that affect data retrieval?
'''
Dictionary in Python is an unordered collection of data values, used to store
data values like a map, unlike other Data Types that hold only a single value as
an element, a Dictionary holds key: value pair.
'''

# Explain the difference between a list and a dictionary in terms of data retrieval.
'''
Lists and dictionaries are both data structures used to store and retrieve data,
but they differ significantly in how data is accessed and retrieved:

Lists
Ordered collection: Lists store data in a specific order, and each element is
assigned an index (a numerical value starting from 0).

Index-based access: To retrieve data from a list, you need to know the index of
the element you want to access.

Sequential search: If you don't know the index, you may need to iterate through
the list to find the desired element.

Dictionaries
Unordered collection: Dictionaries store data as key-value pairs, where each key
is unique and maps to a specific value.

Key-based access: To retrieve data from a dictionary, you need to know the key

associated with the value you want to access.

Fast lookup: Dictionaries allow for fast lookup, insertion, and deletion of
elements using their keys.
'''

In [ ]:
# Write a code to create a string with your name and print it?

name="Vaibhav Beda"
print("My name is", name)

My name is Vaibhav Beda

In [ ]:
# Write a code to find the length of the string "Hello World"?

a="Hello World"
print(len(a))

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"?

B = "Python Programming"
print(B[:3])

Pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase?

s = "hello"
print(s.upper())

HELLO

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".

a = "I like Apple"
print(a.replace("Apple","Orange"))

I like Orange

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.

number=list(range(1,6))
print(number)

[1, 2, 3, 4, 5]

In [1]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4].

list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [2]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [3]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list=['a','b','c','d']
print(list[1])

b

In [4]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

list=[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [5]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [7]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple=('red','green','blue','yellow')
print(tuple[-2])

blue

In [8]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple=(10,20,5,15)
print(min(tuple))

5

In [9]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [10]:
# . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple=('apple','banana','kiwi')
print('kiwi' in tuple)

True

In [13]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set={'a','b','c'}
print(my_set)

{'b', 'c', 'a'}

In [14]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [15]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [16]:
# . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [17]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [18]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict={"name":"Vaibhav","age":28,"city":"Harda"}
print(my_dict)

{'name': 'Vaibhav', 'age': 28, 'city': 'Harda'}

In [20]:
#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict={'name': 'John', 'age': 25}
dict['country']="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [21]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict={'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [22]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [23]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict={'name': 'Alice', 'city': 'Paris'}
print('city' in dict)

True

In [25]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.


# Create a list
my_list = [1, 2, 3]

# Create a tuple
my_tuple = ('a', 'b', 'c')

# Create a dictionary
my_dict = {'name': 'Vaibhav', 'age': 28}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Vaibhav', 'age': 28}

In [26]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[7, 44, 49, 74, 100]

In [27]:
# Write a code to create a list with strings and print the element at the third index.

my_list=['a','b','c','d','e']
print(my_list[3])

d

In [28]:
# Write a code to combine two dictionaries into one and print the result.

dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [29]:
# Write a code to convert a list of strings into a set.

my_list=['a','b','c']
my_set=set(my_list)
print(my_set)

{'b', 'c', 'a'}